li{
	list-style: none;
}

h5{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.bigButton{
	background-color: blue;
	color: white;
	font-size: 20px;
	border-radius: 12px;
	border: 1px solid grey;
}

.bigButton:hover{
	background-color: grey;
}

.pn{
	width: 49.5%;
}